
* {
  box-sizing: border-box;
}

/* ================================= 
  Base Element Styles
==================================== */

h1 {
  color: #fdb813;
  margin: auto;
  padding-left: 50px;
  font-family: Work Sans;
  filter: drop-shadow(10px 5px 4px #3665A1);
}

h2 {
  color: #3665A1;
}
                                                                                                                                                                                                                                        
h3 {
  text-align: center;
}

h5 {
  font-size: 1.6rem;  
}

p {
  color: #221F1B; 
}

/* ================================= 
Layout Styles
==================================== */
.menu {
  height: 150px;
  width: 0;
  position: fixed;
  z-index: 1; /*for overlay on slide */
  overflow-x: hidden;
  background-color: #3665A1;
  padding-top: 15px;
  transition: .5s;
  right: 0;
  margin: 0;
}

.menu a {
  padding: 8px;
  font-size: 25px;
  color: #e2eaf3;
  display: block;
  transition: 0.3s;
  text-decoration: none;
}

.menu,
.closemenu {
  position: absolute;
  top: 0; 
}

.closemenu {
  right: 0;
}

 .openmenu {
  font-size: 25px;
  background-color: #3665A1;
  color: #e2eaf3;
  padding: 15px;
  border: 2px solid #e2eaf3;
  height: 70px;
  border-radius: 25px;
  box-shadow: 1px 3px 4px 3px #9faab8;
}

.main-header,
.content,
.article,
.second-header,
.answer-selections,
#answer1,
#answer2,
#answer3 {
  display: flex;
}

.main-header {
  background-image: url("../photos/sunshine_photo2.jpg");
  background-size: cover;
  justify-content: space-between; 
}

.second-header {
  margin: auto;
  width: 100%;
  justify-content: center;
}

.content,
.answer-selections {
  flex-direction: column;
  margin: auto;
  width: 70%;
  justify-content: center;
  align-items: center; 
}

.quiz_content {
  flex-direction: column;
  margin: auto;
  width: 70%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.vitamin,
.versus,
.mineral,
.how-works,
.answer-selections,
#answer1,
#answer2,
#answer3 {
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-color: #e2eaf3;
  padding: 0 10px 0 10px;
  border-radius: 35px;
  box-shadow: 1px 3px 4px 3px #9faab8;
}

.vitamin,
.mineral,
.how-works {
  font-family: "Montserrat", sans-serif;
}

#answer-dropbox {
  background-image: url("../photos/answer_dropbox.jpg");
  background-size: cover;
  width: 70%;
  height: 20vh; 
  border-radius: 35px;
  padding-top: 40px;
  margin: 10px;
  box-shadow: 1px 3px 4px 3px #9faab8;
}

#answer-dropbox p:first-child {
  margin: auto;
  box-shadow: 1px 3px 4px 3px #3665A1;
}

.answer-selections {
  border: 2px solid #3665A1;
  margin: 10px;
}

#answer1,
#answer2,
#answer3 {
  width: 30vw;
  height: 7vh;
}

.how-works {
  min-width: 150px;
  color: white;
  background-color: #3665A1;
}

.how-works p {
  color: white;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 1000px) {
.content,
.answer-selections,
#answer1,
#answer2,
#answer3 {
  flex-direction: row;
  } 

.answer-selections {
  justify-content: space-between;
  }

h1 {
  font-size: 3rem;
   } 

.vitamin,
.mineral {
  flex-grow: 3;  
  }

.versus {
  margin: 0 20px 0 20px;
  }

.how-works,
.answer-selections,
.versus {
  flex-grow: 2;
  }

.vitamin,
.mineral {
  text-align: center;
  height: 50vh;
  min-width: 50px; 
  }

}

@media (min-width: 600px) and (max-width: 999px) {

  h1 {
    font-size: 2.5rem;
  }
  
.how-works {
    order: 1;
  }

  .versus {
    order: 3;
  }
  
  .vitamin {
    order: 2;
  }

  .mineral {
    order: 4;
  }
}


