
* {
  box-sizing: border-box;
}

/* ================================= 
  Base Element Styles
==================================== */

h1 {
  color: #f1e8b8;
  text-align: center;
  margin-left: 40px;
}
                                                                                                                                                                                                                                        
h3 {
  text-align: center;
}

h5 {
  font-size: 1.6rem;  
}

p {
  color: #221F1B; 
}

a {
  color: #e2eaf3;
  text-decoration: none;
}

li {
  margin: 5px 10px 0 8px;
}

/* ================================= 
Layout Styles
==================================== */

.main-header,
.nav,
.content,
.article,
.second-header,
.answer-selections,
#answer1,
#answer2,
#answer3 {
  display: flex;
}

.main-header {
  background-image: url("../photos/sunshine_photo2.jpg");
  background-size: cover;
  justify-content: center; 
}

.second-header {
  margin: auto;
  width: 100%;
  justify-content: center;
}

.content,
.answer-selections {
  flex-direction: column;
  margin: auto;
  width: 70%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.quiz_content {
  flex-direction: column;
  margin: auto;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.vitamin,
.versus,
.mineral,
.how-works,
.answer-selections,
#answer1,
#answer2,
#answer3 {
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-color: #e2eaf3;
  padding: 0 10px 0 10px;
  border-radius: 35px;
}

#answer-dropbox {
  background-image: url("../photos/answer_dropbox.jpg");
  background-size: cover;
  align-items: center;
  width: 60vw;
  height: 20vh; 
}

.answer-selections {
  border: 2px solid #3665A1;
  margin: 10px;
}

#answer1,
#answer2,
#answer3 {
  width: 30vw;
  height: 7vh;
}

.how-works {
  min-width: 150px;
  color: white;
  background-color: #3665A1;
}

.how-works p {
  color: white;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 1000px) {
.content,
.answer-selections,
#answer1,
#answer2,
#answer3 {
  flex-direction: row;
  } 

.main-header,
.answer-selections {
  justify-content: space-between;
  }

h1 {
  margin-left: 220px;
   } 

.vitamin,
.mineral {
  flex-grow: 3;  
  }

.versus {
  padding: 30px 30px 0 20px;
  margin: 0 20px 0 20px;
  }

.how-works,
.answer-selections,
.versus {
  flex-grow: 2;
  }

.vitamin,
.versus,
.mineral {
  text-align: center;
  height: 40vh;
  min-width: 50px; 
  }

}

@media (min-width: 365px) and (max-width: 999px) {
  h1 {
    justify-content: center;
     } 
     
}


